DATABASE_URL=postgresql://db_admin:erdramerl1403@10.0.2.70:5432/datalakehouse
DATABASE_SSL=false
DATABASE_HOST=10.0.2.70
DATABASE_PORT=5432
DATABASE_NAME=datalakehouse
DATABASE_USER=db_admin
DATABASE_PASSWORD=edramerl1403

