NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
DATABASE_URL=
DATABASE_HOST=10.0.2.70
DATABASE_PORT=5432
DATABASE_NAME=datalakehouse
DATABASE_USER=db_admin
DATABASE_PASSWORD=edramerl1403
DATABASE_SSL=false
